<div>
    <img src="/assets/hamburglar-png-16-transparent.png" width="25%">
</div>

<h1>EatABurger!</h1>

<form class="create-form">

    <div class="form-group">
        <input type="text" id="ca" name="name" placeholder="Burger Name">
    </div>

    <button type="submit">Add a Burger</button>
</form>
<div class="div container-fluid col-12">
    <div class="containercol-4">
        <h2>Ready to Eat</h2>

        <ul style="list-style-type:none;">
            {{#each burger}}

            {{#unless devoured}}
            {{burger/burger-block devoured=false}}
            <li>{{burgerName}}<button class="btnD" type="button" data-id={{id}}>Devour Now!</button></li>
            {{/unless}}
            {{/each}}
        </ul>
    </div>

    <div class="containercol-4">
        <h2>Devoured</h2>

        <ul style="list-style-type:none;">
            {{#each burger}}
            {{#if devoured}}
            {{burger/burger-block devoured=true}}
            <li>{{burgerName}}<button class="btn" type="button" data-id="{{this.id}}">Done!</button></li>
            {{/if}}
            {{/each}}
        </ul>
    </div>
</div>